@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.toogle
{
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0) url(img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}
.toogle.active
{
    background: #000 url(img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
.section
{
    padding: 100px;
    min-height: 100vh;
}
.banner
{
    position: relative;
    background: rgb(236, 213, 255);
    width: 100%;
    min-height: 100vh;
}
.banner .imgSidebar
{
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}
.banner .imgSidebar img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .contentBx, .sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.logoText
{
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgb(85, 0, 119);
    color: #fff;
    padding: 0 5px;
}
.banner .contentBx h4
{
    font-size: 1.5em;
    color: #333;
    font-weight: 300;
}
.banner .contentBx h2
{
    font-size: 2.6em;
    color: #333;
    line-height: 1em;
    letter-spacing: 3px;
}
p
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}
.btn
{
    background: rgb(62, 0, 87);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 3px;
}
.btn:hover
{
    color: rgb(224, 66, 255);
}
.sidebar
{
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}
.sidebar.active
{
    right: 0;
}
.sidebar ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sidebar ul li
{
    list-style: none;
}
.sidebar ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 3px;
    line-height: 80px;
    text-transform: uppercase;
}
.sidebar ul li a:hover
{
    color: rgb(183, 0, 255);
}
.sci
{
    position: absolute;
    display: flex;
    left: 300px;
    bottom: 0;
    justify-content: center;
    align-items: center;
}
.sci li
{
    list-style: none;
    margin-right: 20px;
}
.sci li a
{
    width: 100px;
    height: 100px;
}
.sci li a img
{
    max-width: 90px;
}
.sci li img
{
    transform: scale(0.5);
    opacity: 0.7;
    max-width: 40px;
}
.sci li img:hover
{
    transform: scale(1);
}
.title
{
    width: 100%;
    text-align: center;
}
.title h2
{ 
    position: relative;
    top: 30px;
    color: rgb(244, 222, 253);
    font-size: 2.1em;
    font-weight: 600;
    letter-spacing: 6px;
}
.title p
{ 
    max-width: 600px;
    margin-top: 50px;
    display: inline-block;
}
.title h2::before
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    bottom: -10px;
    width: 1000px;
    height: 3px;
    background: rgb(255, 255, 255);
}
.title.white h2,
.title.white p
{
    color: #fff;
}
.title.white h2::before
{
    background: rgb(255, 255, 255);
}
.about
{
    background: rgb(11, 0, 15);
}
.about .content
{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.about .content .textBx
{
    min-width: 19%;
    margin-left: 100px;
    margin-right: 60px;
    width: 100%;
    font-size: 16px;
}
.about .content .textBx p
{
    color: #fff;
}
.about .content .imgBx
{
    margin-right: 90px;
}
.about .content .imgBx img
{
    max-width: 100%;
    object-fit: cover;
    margin-top: -20px;
}
.services .title h2
{
    color: rgb(0, 0, 0);
}
.services .title h2::before
{
    content: '';
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    bottom: -10px;
    width: 120px;
    height: 3px;
    background: rgb(0, 0, 0);
}
.services .content
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.services .content .servicesBx
{
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: #fff;
}
.services .content .servicesBx:hover
{
    background-color: #000;
}
.services .content .servicesBx img
{
    max-width: 80px;
    transition: 0.5s;
}
.services .content .servicesBx:hover img
{
    filter: invert(1);
}
.services .content .servicesBx h2
{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
}
.services .content .servicesBx:hover h2
{
    color: #fff
}
.services .content .servicesBx p
{
    margin: 0;
    transition: 0.5s;
}
.services .content .servicesBx:hover p
{
    color: #fff;
}
.contatos
{
    background: rgb(0, 0, 0);
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}
.contatos .title h2::before
{
    background: rgb(255, 255, 255);
    width: 500px;
}
.contatos .contatosForm
{
    position: relative;
    width: 700px;
    margin-top: 100px;
    top: -40px;
}
.contatos .contatosForm .row
{
    width: 100%;
    display: flex;
}
.contatos .contatosForm .row .col50
{
    width: 50%;
    margin: 10px;
}
.contatos .contatosForm .row .col100
{
    width: 100%;
    margin: 10px;
    text-align: center;
}
.contatos .contatosForm .row input,
.contatos .contatosForm .row textarea
{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 16px;
    resize: none;
}
.contatos .title.white
{
    margin-top: 50px;
}
.contatos .contatosForm .row textarea
{
    height: 100px;
}
.contatos .contatosForm .row input[type="submit"]
{
    background: rgb(62, 0, 87);
    color: #fff;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 2px;
    cursor: pointer;
    max-width: 400px;
}
.copyright
{
    color: #fff;
    background: #111;
    text-align: center;
    padding: 10px;
}
.copyright p
{
    margin: 0;
    font-size: 16px;
}